*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
    
}
h3{
    color: white;
}

footer{
    display: flex;
    
    background-color: rgb(60, 110, 113);
    height: auto;
    justify-content: center;
    color: white;
    font-size: 24px;
    
}

footer div{
    
    width: auto;  
    padding: 30px;
    
}
.informacion{
    line-height: 1.5;
}
a {
  text-decoration: none;
  color: white;
    
}

.redesSociales{
    display: inline-block;
    justify-items: center;
    height: auto;
    
}
.redes{
    width: 70px;
    margin: 10px;
}

.whatsapp{
    width: 100px;
    position:fixed;
    bottom:10px;
    right:0;
}

.whatsapp:hover, .redes:hover{
    cursor: pointer;
}