*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
    
}
h3{
    color: white;
    justify-self: baseline;
}

footer{
    display: flex;  
    background-color: rgb(60, 110, 113);
    height: auto;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    gap: 1rem;

    
}


.informacion{
    line-height: 1.5; 
    
}
a {
  text-decoration: none;
  color: white;
    
}

.redes{
    width: 100px;
    
}

 @media (max-width: 767px) {
   .informacion{
    font-size: 1rem;
    
   }
   .redesSociales{
    font-size: 1rem;
   }
   .redes{
    width: 50px;
    
}
 }

 @media (max-width: 480px) {
  .informacion{
    font-size: .7rem;
    
   }
   .redesSociales{
    font-size: .7rem;
   }
   .redes{
    width: 30px;
}
 }