*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-color: #3c6e71;
    
}
h1{
    text-align: center;
    margin: 5%;
    color: #3c6e71;
    font-size: 2.5rem;
      
}

.citas{
    display: flex;
    flex-direction: column;    
    width: auto;
    height: auto; 
    border-radius: 1rem;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    box-shadow: 0 0 10px rgb(34, 34, 34);
}

button{
    background-color:#3c6e71;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

form{
    
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; 
    
}

form * {
    border: 1px solid #ccc;
    width: 30vw;   
    margin-bottom: 5%;
    padding: 15px;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #f4f4f4;
    
}

.boton{
    background-color:#3c6e71;
}

form *:focus {
    outline: none;               /* quita el borde azul/negro del navegador */
    border: 1px solid #ccc;      /* mantiene el borde gris que quieres */
}

button:hover{
    background-color: rgb(50, 90, 92);
}

textarea {
  height: 15vh;
}


@media (max-width: 1024px) {
    form *{
        width: 70vw;
    }
}

@media (max-width: 480px) {
    form *{
        width: 80vw;
    }
}