*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
    font-family: "Montserrat", sans-serif;
}

body{
    background-color:white
}

h2{
    color: white;
    padding-bottom: 20px;
}

.lema{
  
    font-size: clamp(1rem,3vw, 3rem);
}


header{
    color: rgb(33, 73, 75);
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
      
}

.logo{

  width: 15vw;
  max-width: 200px;
  height: auto;
  
}

.citaBtn{
    
    padding: .8rem;
    font-size: clamp(.5rem, 1.5vw, 1.5rem); /* responsive pero controlado */
    border-radius: 20px;
    background-color: #3c6e71;
    color: white;
    border:none;
}

.citaBtn:hover{
    background-color: rgb(33, 73, 75);
    cursor: pointer;
    
}

.section1{
    
    background-color: rgb(60, 110, 113);
    display: flex;  
    align-items: center;

           
}

section div {
    color: white;
    font-size: 1.5rem;
    width: 50%
}

.descripcion{
    
    letter-spacing: .5px;
    line-height: 1.6;
    padding-left: 5vw;
   
}


.familia{
   text-align: center;

    
}
.familiaLentes{
    
    border-radius: 10px;
    width: 100%;
    
}



 @media (max-width: 767px) {
    .section1 {
      flex-direction: column; /* texto arriba, imagen abajo */
  
    }

     .descripcion {
      flex-direction: column; /* texto arriba, imagen abajo */
      font-size: 1rem;
      width: 100%;
    }

    .familia{
        width: 100%;
        
    }
 }




